*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

.bordered{
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 65%;
    margin: 0 auto;
}

header{
    height: 60px;
    background-color: #FF6900;
    align-items: center;
}

nav.header{
    height: 40px;
    line-height: 5px;
}

nav ul.menu,
ul.icons{
    flex-basis: 20%;
    padding: 1rem;
}
nav ul.icons{
    text-align: right;
}

nav div.logo{
    flex-basis: 60%;
    text-align: center;
}

nav.header div.logo{
    background-image: url(../img/boolean-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

ul>li{
    display: inline-block;
    padding: 0.2rem;
}

ul.menu li>a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.row2{
    margin-bottom: 100px;
}

main div.row div.card{
    height: 550px;
    width: calc(100% / 3 - 18px);
    margin: 9px;
}

div.male1{
    background-image: url(../img/1.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.female1{
    background-image: url(../img/2.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div.female2{
    background-image: url(../img/3.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div.male2{
    background-image: url(../img/4.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div.female3{
    background-image: url(../img/5.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

div.female4{
    background-image: url(../img/6.webp);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

p.brand{
    font-size: 0.8rem;
}

p.type{
    font-size: 1.2rem;
    font-weight: bold;
}

span.price{
    color: red;
    font-weight: bold;
}

span.price-discount{
    text-decoration: line-through;
}

main div.position{
    position: relative;
}

div.infocard{
    position: absolute;
    left: 9px;
    top:100%;
}

div.card div.heart{
    position: absolute;
    top: 10px;
    right: 5px;
    width: 50px;
    height: 50px;
    background-color: white
}

div.card div.heart span{
    font-size: 2.2rem;
    display: table;
    margin: 0 auto;
}

div.card div.discount-tag{
    position: absolute;
    background-color: red;
    top: 90%;
    left: 9px;
}

div.card div.discount-tag p{
    color: white;
    padding: 3.6px 8px;
    font-size: 0.8rem;
}

div.card div.sustainable-tag{
    position: absolute;
    background-color: green;
    top:90%;
    left:60px;
    color: white;
}

div.card div.sustainable-tag p{
    padding: 3.6px 8px;
    font-size: 0.8rem;
}

div.card div.sustainable-tag-special{
    position: absolute;
    background-color: green;
    top:90%;
    left: 9px;
    color: white;
}

div.card div.sustainable-tag-special p{
    padding: 3.6px 8px;
    font-size: 0.8rem;
}



footer{
    display: flex;
    height:100px;
    align-items: center;
    background-color: #1A1A1A;
}

.info{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    height: 60px;
}

.left-footer,
.right-footer{
    flex-basis: 50%;
    height: 60px;
    background-color: red;
}