*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bordered{
    border: 1px solid black;
}

.flex{
    display: flex;
    justify-content: center;
}

.container{
    width: 65%;
    margin: 0 auto;
}

header{
    height: 60px;
    background-color: #FF6900;
    align-items: center;
}

nav.header{
    height: 50px;
    line-height: 15px;
}

nav ul.menu,
ul.icons{
    flex-basis: 20%;
    padding: 1rem;
}

nav div.logo{
    flex-basis: 60%;
    text-align: center;
    margin: 0 auto;
}

ul>li{
    display: inline-block;
    padding: 0.2rem;
}

.row{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 80px;
}

.row2{
    margin-bottom: 70px;
}

main div.row div.card{
    height: 550px;
    width: calc(100% / 3 - 18px);
    background-color: gray;
    margin: 9px;
}

img.male{
    background-position: center;
    background-size: contain;
}

footer{
    display: flex;
    height:100px;
    align-items: center;
    background-color: #1A1A1A;
}

.info{
    background-color: aquamarine;
    height: 60px;
}

.left-footer,
.right-footer{
    width: 100px;
    height: 20px;
    background-color: red;
}